:root {
  --sidebarW: 200px;
}

* {
  font-family: 'Lato';
  margin: 0;
  padding: 0px;
  border: none;
}

body {
  background-color: black;
}

.head1 {
  padding: 20px 10px 15px 40px;
  margin-left: var(--sidebarW);
}

h1 {
  padding: 0;
  font-size: 21px;
  /* color: rgb(153, 255, 0); */
  /* color: #ADEFD1FF; */
  color: #2BAE66FF;
}

h2 {
  padding-left: 25px;
  font-size: 19px;
  /* color: rgb(184, 212, 253); */
  /* color: #ADEFD1FF; */
  /* color: #F2EDD7FF; */
  /* color: #D7C49EFF; */
  /* color: #FCF6F5FF; */
  /* color: #FAD0C9FF; */
  color: #FCF6F5FF;
}

h6 {
  padding: 4px 3px 4px 3px;
  text-decoration: none;
  font-size: 14px;
  color: #a8a8a8;
  display: block;
}

.sidenav a {
  padding: 4px 9px 4px 9px;
  text-decoration: none;
  font-size: 13px;
  color: #818181;
  display: block;
}

.sidenav {
  height: 100%;
  width: var(--sidebarW);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-left: 15px;
  padding-top: 15px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  padding: 5px 10px 20px 40px;
  margin-left: var(--sidebarW);
  font-size: 14px;
  color: rgb(153, 255, 0);
  overflow-y: scroll;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 14px;
  }
}
